.border {
    border: 2px solid rgb(12, 1, 1);
}
.borderBlue {
    border: 2px solid rgb(22, 212, 41);
}
.row1, .row2, .row3 {
    padding-bottom: 40px;
}
.paddingRight {
    padding-right: 100px;
}
.paddingLeft {
    padding-left: 50px;
}
.paddingTop {
    padding-top: 90px;
}
.paddingBottom {
    padding-Bottom: 100px;
}
.padding {
    padding: 20px 20px;
}