.container {
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1em;
    flex-wrap: wrap;
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 1px solid teal;
    padding: 0.5em;
}
.family {
    
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      }
      

.size {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.variant {
    
        font-family: "Slackside One", cursive;
        font-weight: 400;
        font-style: normal;
      }

.style {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.weight {
    font-weight: 600;
}
.red {
    color: red;
    background-color: blueviolet;
        background: linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(0, 255, 0, 0.5)), linear-gradient(135deg, rgba(150, 120, 0, 0.5), blue);
    
}
.rgb {
    color: rgb(12, 166, 71);
    background-color: aqua;
    background: linear-gradient(45deg, rgba(143, 103, 103, 0.5), rgba(44, 223, 44, 0.5)), linear-gradient(135deg, rgba(150, 120, 0, 0.5), blue);
}
.rgba {
    color: rgba(150, 50, 0, 0.1);
    background-color: rgb(230, 230, 35);
}       

.blue {
    color: rgb(32, 5, 151);
    background-color: brown;
}
.yellow {
    color: rgb(149, 187, 22);
    background-color: bisque;
    width:100px;
    height:100px;
    font-size:50px;
}
.multiple {
    box-shadow: 5px 5px 3px gray, -5px -5px 3px red;
    text-shadow: 5px 5px 3px gray, -5px -5px 3px red;
}