.container {
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1em;
    flex-wrap: wrap;
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 1px solid teal;
    padding: 0.5em;
}
.family {
    
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      }
      

.size {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.variant {
    
        font-family: "Slackside One", cursive;
        font-weight: 400;
        font-style: normal;
      }

.style {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.weight {
    font-weight: 600;
}
